{% extends 'base.html.twig' %}

{% block body_content %}
	<div class="row">
		<div class="col-md-12">
			<h4 class="mb-3">Recent Comments</h4>

			{% for parentComment in pagination  %}
				{{ include('comment/_comment.html.twig', { comment: parentComment }, with_context = false) }}
			{% endfor %}

			{{ knp_pagination_render(pagination) }}

			<hr/>

			<h4 class="mb-3">Add a comment</h4>

			{{ form_start(form) }}
			{{ include('comment/_comment_form.html.twig') }}
			<button class="btn btn-primary btn-lg btn-block" type="submit">Add Comment</button>
			{{ form_end(form) }}


		</div>
	</div>
{% endblock body_content %}
